<div class="dropdown">
  <button class="button" type="button" popovertarget="dropdown-1">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
      <rect width="256" height="256" fill="none" />
      <line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="16" />
      <line x1="40" y1="64" x2="216" y2="64" fill="none" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="16" />
      <line x1="40" y1="192" x2="216" y2="192" fill="none" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="16" />
    </svg>
    <span>Dropdown</span>
  </button>
  <div id="dropdown-1" class="dropdown__popover" data-side="bottom" data-align="start" popover="auto">
    <menu>
      <li class="font-strong text-eyebrow text-muted-foreground p-xs">Group 1</li>
      <li><a href="#" class="button justify-start" data-variant="ghost">Link 1</a></li>
      <li><a href="#" class="button justify-start" data-variant="ghost">Link 2</a></li>
      <li><a href="#" class="button justify-start" data-variant="ghost">Link 3</a></li>
      <hr class="my-xs" />
      <li class="font-strong text-eyebrow text-muted-foreground p-xs">Group 2</li>
      <li><a href="#" class="button justify-start" data-variant="ghost">Link 4</a></li>
      <li><a href="#" class="button justify-start" data-variant="ghost">Link 5</a></li>
      <li><a href="#" class="button justify-start" data-variant="ghost">Link 6</a></li>
    </menu>
  </div>
</div>
