<div class="dropdown">
  <button class="button" type="button" popovertarget="dropdown-1">
    Menu
  </button>
  <div
    id="dropdown-1"
    class="dropdown__popover"
    data-side="bottom"
    data-align="center"
    popover="auto"
  >
    <menu>
      <li class="font-strong text-eyebrow text-muted-foreground p-xs">Group 1</li>
      <li><a href="#" class="button justify-start" data-variant="ghost">Link 1</a></li>
      <li><a href="#" class="button justify-start" data-variant="ghost">Link 2</a></li>
      <li><a href="#" class="button justify-start" data-variant="ghost">Link 3</a></li>
      <hr class="my-xs" />
      <li class="font-strong text-eyebrow text-muted-foreground p-xs">Group 2</li>
      <li><a href="#" class="button justify-start" data-variant="ghost">Link 4</a></li>
      <li><a href="#" class="button justify-start" data-variant="ghost">Link 5</a></li>
      <li><a href="#" class="button justify-start" data-variant="ghost">Link 6</a></li>
    </menu>
  </div>
</div>
