/* ===========================================================================
   EMBLA CAROUSEL STYLES
   - Documentation: https://www.embla-carousel.com/
   =========================================================================== */

[data-embla="root"] {
  position: relative;
  isolation: isolate;
  contain: paint layout;
}

[data-embla="viewport"] {
  overflow: clip;
  max-block-size: 100%;
  max-inline-size: 100%;
}

[data-embla="container"] {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

[data-embla="slide"] {
  flex: 0 0 100%;
  min-width: 0;
}
